@font-face {
  font-family: Fonecian;
  src: url('../fonts/Fonecian_Regular.ttf');
}

@font-face {
  font-family: Fonecian;
  src: url('../fonts/Fonecian_Regular_Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Greycliff;
  src:  url('../fonts/GreycliffCF-Regular.woff2') format('woff2'),
  url('../fonts/GreycliffCF-Regular.woff') format('woff');
}

@mixin headerfont {
  font-family: 'Fonecian', 'Greycliff', Helvetica, Arial, Tahoma, Verdana;
}
