.hero-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.video-container {
  margin: 0;
  position: relative;
  header {
    position: absolute;
    top: 0;
    width: 100%;
  }
  @include media-query($on-palm) {
      header {
        top: 20px;
      }
  }
}

.logo {
    z-index: 9999;
}

.site-nav {
    z-index: 10000;
}

video {
  width: 100%;
  max-width: 100%;
}

.youtube-video {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  /* optional */
  width: 100%;
  height: 100%;
}

.home-parallax {
	background: white;
	margin-top: 800px;
    @include media-query($on-palm) {
        margin-top: 250px;
    }
}

.hero--home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-query($on-palm) {
        display: block;
        flex: none;
    }
}
