.hero-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.video-container {
    margin: 0;
    position: relative;

    header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.logo {
    z-index: 9999;
}

.site-nav {
    z-index: 10000;
    align-self: flex-start;
}

video {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.youtube-video {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    // optional
    width: 100%;
    height: 100%;
}

.home-parallax {
    background: var(--white);
    margin-top: 56.25%;
}

.hero--home__content {
    @include media-query($on-palm) {
        display: block;
        flex: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
}
