<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
     <div class="hero-wrapper">
         <div class="video-container">

            {% include lazyload-image.html name='homepage/teaser' class='image-full' %}

            <video class="video" src="{{ site.url }}{{ site.assets }}{{ page.video }}" preload playsinline autoplay muted loop></video>

            <div class="header-home">
                {% include header.html %}
            </div>

         </div>

    </div>

    <main class="page-content home-parallax" aria-label="Content">

      {% include projects.html %}

      {% include footer.html %}

    </main>

  </body>

</html>
