---
layout: default
---

{% if page.main-video %}
<div class='embed-container'>
    <iframe src='{{ page.main-video }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
{% endif %}

<div class="wrapper img-content-row">
    <img class="portrait" src="{{ site.url }}{{ site.assets }}{{ page.main-image1 }}" alt="mediavintage"/>
    <img class="portrait" src="{{ site.url }}{{ site.assets }}{{ page.main-image2 }}" alt="mediavintage"/>
</div>

<div class="wrapper">
    <article class="post">

      <header class="hero">
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>

      <div class="post-content trio__content">
        {{ content }}
      </div>

    </article>
</div>

{% for image in page.images %}
    <img src="{{ site.url }}{{ site.assets }}{{ image.image_path }}" alt="{{ image.alt}}"/>
    {% if forloop.first %}
        <div class="wrapper--verynarrow"><p class="credits">Supported by <a href="http://v2.nl">V2_ Institute of the Unstable Media</a><br/>
With Piem Wirtz, Stan Wannet, Simon de Bakker,<br/>
Joachim Rotteveel and Meg Grant </p></div>
    {% endif %}
{% endfor %}

<div class="projects__container wrapper">
    <h2 class="projects__header">Projects</h2>
    <div class="projects__container--row">
        <div class="projects">
            <a href="{{ site.url }}/tremor"><img src="{{ site.url }}{{ site.assets }}tremor_icon.jpg"></img></a>
            <a href="{{ site.url }}/political_lace"><img src="{{ site.url }}{{ site.assets }}political_lace_icon.jpg"></img></a>
            </div>
        <div class="projects">
            <a href="{{ site.url }}/holydress"><img src="{{ site.url }}{{ site.assets }}holydress_icon.jpg"></img></a>
        </div>
    </div>
</div>
