---
layout: default
---

{% if page.main-image %}
    <img src="{{ site.url }}{{ site.assets }}{{ page.main-image }}" ></img>
{% endif %}

<div class="wrapper">
    <article class="post">

      <header class="hero">
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>

      <div class="post-content">
        {{ content }}
      </div>

    </article>
</div>

<div class="wrapper img-content-row">
    <img class="portrait" src="{{ site.url }}{{ site.assets }}{{ page.image1 }}" alt="tremor"/>
    <img class="portrait" src="{{ site.url }}{{ site.assets }}{{ page.image2 }}" alt="tremor"/>
</div>
<div class="wrapper--verynarrow"><p class="credits">A collaboration with designer <a href="http://www.leoniesmelt.com">LEONIE SMELT</a><br/>
with the support of the Dutch Embassy in London</p></div>

{% if page.main-video %}
    <div class='embed-container padded'>
        <iframe src='{{ page.main-video }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
{% endif %}

<div class="wrapper--verynarrow"><p class="credits">Images and video by <a href="claudiarocha.com">Claudia Rocha,</a><br/> and makeup by Billie Pingault</p></div>

<img src="{{ site.url }}{{ site.assets }}{{ page.image3 }}" alt="tremor"/>

<div class="projects__container wrapper">
    <h2 class="projects__header">Projects</h2>
    <div class="projects__container--row">
        <div class="projects">
            <a href="{{ site.url }}/political_lace"><img src="{{ site.url }}{{ site.assets }}political_lace_icon.jpg"></img></a>
            <a href="{{ site.url }}/holydress"><img src="{{ site.url }}{{ site.assets }}holydress_icon.jpg"></img></a>
        </div>
        <div class="projects">
            <a href="{{ site.url }}/media_vintage"><img src="{{ site.url }}{{ site.assets }}mediavintage_icon1.jpg"></img></a>
        </div>
    </div>
</div>
